/* * {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    border: border-box;
} */

/* 
.nav-dronepic{
    background-color: #A1CAFF;

} */

/* .dronepic {
    height: 729px;
    width: 1530px;
    background-size: cover;
    background-color: #A1CAFF;
    background-image: url("srmdrone.jpg");
    opacity: 50%;
} */

/* .navbar{
    background-color: #A1CAFF;

} */


